<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Biz owner:</strong>
  <%= @task.biz_owner %>
</p>

<p>
  <strong>Biz plan start dt:</strong>
  <%= @task.biz_plan_start_dt %>
</p>

<p>
  <strong>Biz plan end dt:</strong>
  <%= @task.biz_plan_end_dt %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
